<div class="container" id="homecol">
  <%= render "layouts/alert"%>

<div class="greybox">
  <%= image_tag("specmob_large_logo.png", :alt => "modular village logo", :style => "width: 600px") %>
</div>
<br />
<div class="row header" >
  <div class="span8">
  <h1>Slash days off your project schedule and provide clarity of vision for your project team.</h1>

  <p><em class="large_em">Writing specifications often swallows up days of a project's life--only to be ignored by the team. The secret to writing a great spec is to get everyone's input right out of the gate and to keep it active and up-to-date.</em></p>

  </div>
  <div class="span6">

        <p>Specmob lets you and your project team maintain a "single version of the truth" so everyone is working from the same project documentation. Because the entire team works to build the document, it will naturally be more complete, more useful to the entire team, and more up-to-date. The more eyeballs you can put on your specification in the early stages, the better off the entire project will be.</p>
        <p>Specmob is currently in development. Stay tuned and we'll let you know when it's ready!</p>
    <br />
  </div>
  <div class="center-box span2"><p>Sign up now and receive updates on our progress!</p><button class="btn btn-warning btn-large"><%=link_to "Sign Up", new_user_registration_path %></button><br /><br /><%=link_to "Learn More>>", about_path %></div>
</div>  
<!--
  <hr>
<div class="span2"><%= image_tag("open-source.png", :alt => "open source") %>
</div>
<div class="span6"><h2>Modular Village is not Complete</h2>
    <p>We need your help making this open-source project a reality. Marketers, subject-matter experts (such as scientists, architects, engineers, and civil servants), startup mentors, designers, developers, and anyone who is passionate about the project, <%=link_to "sign up here",  new_user_registration_path %> to help develop this exciting open-source application. </p>
    <p>Developers, check out our <%=link_to "github repository.", "https://github.com/m8ker/modular_village"%></p>
</div> -->




