<div class="container-fluid">
  <%= render "layouts/alert"%>
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span6">
        
         <div class="navbar no_margin">
            <div class="navbar-inner">
              <ul class="nav">
              
                 <div class="dropdown" id="center_dropdown">
                   <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                   Sections
                     <b class="caret"></b>
                   </a>
                   <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                     <% @project.categories.each do |category| %>
                       <li><a><%= category.name %></a></li>
                         <% end %>
                   </ul>
                 </div>
  
                  </ul> 
                  </div>
                  </div>
          <div class="cols">
            
              <div class="h1shareline"><span><%= @project.title %></span>
            
            <span id="editlink"><%= link_to 'Edit', edit_project_path(@project) %></span>
            </div>
          
            <% @project.categories.each do |category| %>
            <div class="whitebox selectable-requirement" data-requirement-id="<%= category.id %>">
            <h3><%= category.name %></h3>
            <p><%= category.description %></p>
            <%= link_to 'Edit', edit_category_path(category) %> 
            </div>
          
            <% end %>
          
            <hr>
       
            <%= simple_form_for(@category) do |f| %>
              <%= f.error_notification %>
              <%= f.input :name, :placeholder => 'Add a spec section' %>
              <%= f.text_area :description, :placeholder => 'Spec section details'%>
              <%= hidden_field_tag "project[category_ids][]", nil %>
              <br>
              <%= f.button :submit %>
              <%= f.hidden_field :project_id, :value => @project.id %>
            <% end %>
          </div>
        </div>
      <div class="span6">
        <div class="navbar no_margin">
          <div class="navbar-inner">
            <ul class="nav">
          </div>
        </div>
        <div class="cols">
          <div class="h1shareline" id="sugg"><span>Suggestions&nbsp;</span><span><i class="icon-info-sign icon-white"></i></span></div>
          <div class="whitebox">
          
            <% @project.categories.each do |category| %>
              <h3><%= category.name %></h3>
              <%= render :partial => 'suggestion', :collection => category.links %>
            <% end %>
            </div>
          <hr>
        <%= simple_form_for(@link) do |f| %>
          <%= f.error_notification %>
          <%= f.input :title, :placeholder => 'Add a comment' %>
          <%= f.input :url, :placeholder => "http://..." %>
          <%= f.input :body, :placeholder => "Additional details..." %>
          <%= f.input :tag_list, :placeholder => "add tags" %>
          <%= hidden_field_tag "link[category_id][]", nil %>
          <%= hidden_field_tag "category_id" %>
          <%= f.button :submit %>
          <%= f.hidden_field :project_id, :value => @project.id %>
        <% end %>
        </div>
        </div>
    </div>
  </div>
</div>







